@model cecati_117.Models.Galeria

@{
    ViewBag.Title = "Crear galeria";
    IEnumerable<cecati_117.Models.ListaEspecialidades> listaEspecialidades = ViewBag.especialidades;
}


<div class="page-title">
    <div class="title_left">

    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Agregar Galeria</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group-sm">
                            @Html.LabelFor(model => model.Galeria_titulo, htmlAttributes: new { @class = "control-label col-md-2 col-lg-2 col-sm-12 col-xs-12" })
                            <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
                                @*@Html.EditorFor(model => model.Galeria_titulo, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input list="especialidad" class="form-control" id="Galeria_titulo" name="Galeria_titulo" type="text">
                                <datalist id="especialidad">
                                    @foreach (var especialidad in listaEspecialidades)
                                    {
                                        <option>@especialidad.ListaEspecialidades_especialidad</option>
                                    }
                                </datalist>
                                @Html.ValidationMessageFor(model => model.Galeria_titulo, "", new { @class = "text-danger" })
                                <div class="divider"></div>
                            </div>
                        </div>                        
                        <div class="form-group">
                            <div class="col-md-offset-2 col-lg-offset-2 col-md-10 col-lg-10 col-sm-12 col-xs-12">
                                <input type="submit" value="Agregar" class="btn btn-success" />
                                <a class="btn btn-default" href="@Url.Action("Index","Galerias")">Cancelar</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>