@model cecati_117.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
}
<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <h2 class="title"></h2>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <div class="breadcrumbs pull-right">
                    <ul>
                        <li>Estás aquí:</li>
                        <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                        <li><a href="@Url.Action("Login","Account")">Iniciar Sesión</a></li>
                        <li>Olvidaste la contraseña</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<!-- 3 Column Services -->
<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="title">@ViewBag.Title</h3>
            </div>
            <div class="clearfix"></div>
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Restablezca la contraseña.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-lg-2 control-label" })
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-lg-2 control-label" })
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-lg-2 control-label" })
                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 col-lg-10 col-sm-12 col-xs-12">
                        <input type="submit" class="btn btn-default" value="Restablecer" />
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<div class="divider"></div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        document.getElementById("footer").style.marginTop = "15em";
    });
</script>















@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
